global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 30m
    timeout server 30m
    retries 3


# Zabbix 전용 PostgreSQL Frontend
frontend postgres_front
    bind 127.0.0.1:5432
    mode tcp
    default_backend postgres_back

# Patroni REST API 헬스체크 기반 Backend
backend postgres_back
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server db1 192.168.20.10:5432 maxconn 200 check port 8008
    server db2 192.168.20.28:5432 maxconn 200 check port 8008